alembic==1.0.8
app==0.0.1
Click==7.0
Flask==1.0.2
Flask-Migrate==2.4.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
itsdangerous==1.1.0
Jinja2==2.10.1
Mako==1.0.8
MarkupSafe==1.1.1
pip==19.0.3
pypiwin32==223
python-dateutil==2.8.0
python-dotenv==0.10.1
python-editor==1.0.4
pywin32==224
setuptools==65.5.1
six==1.12.0
SQLAlchemy==1.3.2
Werkzeug==0.15.3
WTForms==2.2.1
